.admin {
  width: 80vw;
  padding-top: 20px;
  border-bottom: 1px white solid;
}

main .admin-container {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 80vw;
}

.admin-container > h3 {
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 5px;
  border-top: 1px white dashed;
}

.admin-container > div {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.admin-container button {
  width: 100px;
}

.admin-container .large {
  width: 200px;
}
.miniature {
  width: 100px;
}

.admin-container .big {
  width: 200px;
  font-size: 18px;
  height: 30px;
}
.center {
  display: flex;
  justify-content: center;
}
