form {
  padding-top: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}
form > div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div > div {
  display: flex;
}
form > div:last-child {
  padding-bottom: 100px;
}

form > div > div > label {
  width: 150px;
  padding-right: 20px;
}
